<form [formGroup]="userForm">

    <mat-form-field>
        <input formControlName="firstName" matInput placeholder="First Name*">
        <mat-error>This field is mandatory.</mat-error>
    </mat-form-field>




    <mat-form-field>
        <input formControlName="lastName" matInput placeholder="Last Name*">
        <mat-error>This field is mandatory.</mat-error>
    </mat-form-field>




    <mat-form-field>
        <input formControlName="email" matInput placeholder="Email*">
        <mat-error>Invalid email address.</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select formControlName="status" placeholder="User Status*">
            <mat-option value="active">Active</mat-option>
            <mat-option value="inactive">Inactive</mat-option>
        </mat-select>
        <mat-error>Please choose one of the options.</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input formControlName="roles" matInput placeholder="Roles*">
        <mat-error>This field is mandatory.</mat-error>
    </mat-form-field>

    <button mat-raised-button (click)="onCancelClick()">
        cancel
      </button>

      <button
      (click)="onConfirmClick()"
       [disabled] = "disable | async"
       mat-raised-button
        >
        confirm
      </button>
</form>