form.user-form{
    margin: 10px;

    .controles-container{
        display: flex;
        width: 100%;
        padding: 5%; 

        .mat-form-field input {
            height: 20px;
            transition: height ease-in-out 400ms;
        }
        
        .mat-form-field input:focus {
            background-color: red !important;
            height: 50px;
            transition: height ease-in-out 400ms;
        }
        
       
    }

    .controles-container > * {
        width: 100%;
        }
        .button-row button{
            margin: 5px;
        }
}



