.user-form{
    padding:10px 20px;
    mat-icon{
        cursor: pointer;
    }
  mat-form-field{
    margin:0 50px;
    width:200px;
    height:90px;
    display:block;
  }

  .button-row{
    width:100%;
    display: flex;
    justify-content: space-between;
  }
}