.confirm-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 20px;




    #close-icon{
        margin-left: auto;
        order: 2;
        font-weight: bolder;
    }
    #close-icon:hover{
    cursor: pointer;
    }
    
    #no-button{
    height: 50px;
    width: 50%;
    background-color: #fc7169;
    color:white;
    border-radius: 0px;
    }
    
    #yes-button{
        height: 50px;
        width: 50%;
        background-color: #b6bece;
        color:white;
        border-radius: 0px;
    }
    
    
}
